{% extends "base.html" %}
{% block title %}Soporte - Planta San Miguel{% endblock %}

{% block content %}

<div class="container my-5">

    <div class="text-center mb-4">
        <h1 class="fw-bold">Soporte Técnico</h1>
        <p class="lead">Estamos aquí para ayudarte con problemas técnicos.</p>
    </div>

    <div class="card shadow-sm p-4">
        <p class="fs-5">
            Si tienes problemas con:
            <ul>
                <li>Inicio de sesión</li>
                <li>Sensores sin lectura</li>
                <li>Error en pedidos</li>
                <li>Alertas inesperadas</li>
            </ul>
            Puedes contactarnos en:
        </p>

        <p class="fw-bold">
            soporte@plantasanmiguel.cl  
            +56 9 9999 9999
        </p>

    </div>

</div>

{% endblock %}
