<form method="post" action="{% url 'ventas:carrito_agregar' producto.pk %}" class="mt-3">
    {% csrf_token %}

    <!-- Cantidad -->
    <div class="input-group mb-3" style="max-width: 220px;">
        <span class="input-group-text">Cantidad</span>
        <input type="number"
               name="cantidad"
               value="1"
               min="1"
               class="form-control">
    </div>


    {% if producto.image %}
        <img src="{{ producto.image.url }}"
             class="img-fluid rounded shadow mb-3"
             alt="{{ producto.nombre }}">
    {% else %}
        <img src="https://via.placeholder.com/600x350?text=Sin+imagen"
             class="img-fluid rounded shadow mb-3"
             alt="Sin imagen">
    {% endif %}

    <!-- Botón para agregar al carrito -->
    <button type="submit" class="btn btn-primary">
        Añadir al carrito
    </button>
</form>
