{% extends "base.html" %}
{% block title %}Panel Administrador{% endblock %}

{% block content %}
<h1 class="h3 mb-4">Panel Administrador</h1>

<div class="row g-3">
    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bi bi-people-fill"></i> Usuarios
                </h5>
                <p class="card-text small">
                    Gestión de usuarios, roles y permisos del sistema.
                </p>
                <a href="/admin/cuentas/usuario/" class="btn btn-primary btn-sm">Ir a administración</a>
                <a href="{% url 'usuarios_list' %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-people"></i> Gestión de usuarios</a>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bi bi-server"></i> Planta & Sensores
                </h5>
                <p class="card-text small">
                    Configuración de estanques, sensores y actuadores.
                </p>
                <a href="{% url 'dashboard_planta' %}" class="btn btn-primary btn-sm">Ver dashboard</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bi bi-clipboard-data"></i> Reportes
                </h5>
                <p class="card-text small">
                    Acceso a reportes de producción, ventas y alertas.
                </p>
                <a href="#" class="btn btn-outline-primary btn-sm disabled">En construcción</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
